# Creating DataFrames

In [1]:
import pandas as pd
df1 = pd.read_csv('weather_data.csv')
df1

          Day  Temperature  Windspeed  Event
0  01-01-2022           32          6   Rain
1  01-02-2022           35          7  Sunny
2  01-03-2022           28          2   Snow
3  01-04-2022           24          3   Snow
4  01-05-2022           32          5   Rain
5  01-06-2022           32          7  Sunny
6  01-07-2022           37          4   Rain

In [2]:
# By Excel
# df2 = pd.read_excel('weather_data.xlsx', 'Sheet1')
# df2

In [3]:
# From Python Dictionary
weather_data = {
    'day': ['01-01-2022', '01-02-2022', '01-03-2022', '01-04-2022', '01-05-2022', '01-06-2022', '01-07-2022'],
    'temperature': [32, 35, 28, 24, 32, 32, 37],
    'windspeed': [6, 7, 2, 3, 5, 7, 4],
    'event': ['rain', 'sunny', 'snow', 'snow', 'rain', 'sunny', 'rain']
}
df3 = pd.DataFrame(weather_data)
df3

          day  temperature  windspeed  event
0  01-01-2022           32          6   rain
1  01-02-2022           35          7  sunny
2  01-03-2022           28          2   snow
3  01-04-2022           24          3   snow
4  01-05-2022           32          5   rain
5  01-06-2022           32          7  sunny
6  01-07-2022           37          4   rain

In [8]:
# By using Tuples list
weather = [
    ('01-01-2022',32,6,'Rain'),
    ('01-01-2022',35,7,'Sunny'),
    ('01-03-2022',28,2,'Snow'),
    ('01-04-2022',24,3,'Snow'),
    ('01-05-2022',32,5,'Rain'),
    ('01-06-2022',32,7,'Sunny'),
    ('01-07-2022',37,4,'Rain')
]
df4 = pd.DataFrame(weather, columns=['day', 'temperature', 'windspeed', 'event'])
df4

          day  temperature  windspeed  event
0  01-01-2022           32          6   Rain
1  01-01-2022           35          7  Sunny
2  01-03-2022           28          2   Snow
3  01-04-2022           24          3   Snow
4  01-05-2022           32          5   Rain
5  01-06-2022           32          7  Sunny
6  01-07-2022           37          4   Rain

In [11]:
# By creating a list of dictionaries
weather_df = [
    {'day':'01-05-2022', 'temperature':32, 'windspeed':5, 'event':'Rain'},
    {'day':'01-06-2022', 'temperature':32, 'windspeed':7, 'event':'Sunny'},
    {'day':'01-07-2022', 'temperature':37, 'windspeed':4, 'event':'Rain'}
]
df5 = pd.DataFrame(weather_df)
df5

          day  temperature  windspeed  event
0  01-05-2022           32          5   Rain
1  01-06-2022           32          7  Sunny
2  01-07-2022           37          4   Rain